<%- include('../../partials/header.ejs') %>
    
<div class="container my-container">
    <div class="row">
        <div class="col-md-6 my-5 m-auto">
            <div class="card card-body my-5">
                <h3>login with your email and password</h3>
                <form action="/auth/login"  method="post">
                    <div class="form-group my-2">
                        <label for="email">Enter your valid email</label>
                        <input type="email" name="email" id="email" class="form-control">
                    </div>
                    <div class="form-group my-2">
                        <label for="password">Your password</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    <div class="text-center">
                        <input type="submit" class="btn btn-primary" value="login">
                    </div>
                    
                </form>
                <a href="signup" class="text-center my-3">Don't you have accout?create an account here</a>
            </div>
        </div>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>