<%- include('../../partials/header.ejs') %>
    
<div class="container my-container">
    <div class="jumbotron">
        <h4>sign up page</h4>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium nulla aliquam assumenda, porro odio consequatur numquam repellat dolores provident maxime earum quas odit fugiat nisi recusandae suscipit ratione optio aliquid.</p>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>