<%- include('../../partials/header.ejs', {title: "404 page not found"}) %>
    
<div class="container my-container my-5">
    <h2 class="display-4 text-center">404 page not found!!</h2>
</div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>