<%- include('../../partials/header.ejs') %>
    
<div class="container my-container">
    <div class="row">
        <h2 class="display-1 text-center">welcome to our Dashboard</h2>
    </div>
</div>

<%- include('../../partials/footer.ejs') %>
</body>
</html>>